.user-container {
    width: 25%;
    height: calc(100vh - 100px);
    margin: 50px;
}

.user-container #leave-room {
    width: 150px;
    height: 50px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
}

.user__indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.user__name {
    display: inline-block;
}

.user__progress {
    width: 100%;
    height: 20px;
    border: 1px solid black;
}

.user__progress div {
    width: 100%;
    height: 100%;
}

#text-container {
    position: relative;
    width: 75%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 50px;
    font-size: 2vh;
}

.room-container {
    position: relative;
    overflow: hidden;
    width: 20vw;
    height: 20vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}

.room-container span {
    position: absolute;
    top: 5px;
    left: 10px;
}

.room-container button {
    width: 60%;
    height: 20%;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
}

#ready {
    position: absolute;
    width: 20vw;
    height: 10vh;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5vw;
}

.letter {
    padding: 0.3vw;
    height: 3.5vh;
}

.done {
    background-color: rgb(23, 197, 23);
}

.next {
    border-bottom: 2px solid green;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        border-color: green;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: green;
    }
}
